{:minimal-api-lein.routes/routes {}
 :minimal-api-lein.server/app {:routes #ig/ref :minimal-api-lein.routes/routes}
 :minimal-api-lein.server/server {:app #ig/ref :minimal-api-lein.server/app
                                  :options {:port 3000
                                            :join? false}}}
